<!DOCTYPE html>
<html>

<head>

    <title>STK Push Test</title>

</head>

<body>

<h2>M-PESA STK PUSH TEST</h2>

<form action="/pay" method="POST">

    <p>Phone Number</p>

    <input
        type="text"
        name="phone"
        placeholder="2547XXXXXXXX"
        required
    >

    <br><br>

    <p>Amount</p>

    <input
        type="number"
        name="amount"
        value="1"
        required
    >

    <br><br>

    <button type="submit">

        PAY NOW

    </button>

</form>

</body>

</html>